header {
  position: relative;
  height: 70px;
  background-color: #006778;
  padding-top: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#logo {
  float: left;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 10px;
  text-align: left;
  color: #ecf0f1;
  display: inline;
}
#search-form {
  /* text-align: center;
  position: relative; */
  /* margin-bottom: 50px;
  display: inline; */
  cursor: pointer;
}

.card{
  cursor: pointer;
}
