<header>
  <span id="logo"  style="float: left;margin-bottom:30px;margin-left:30px;" class="text-white">School Management System</span>
  <p-autoComplete
    id="search-form"
    [(ngModel)]="text"
    [suggestions]="filteredCountries"
    (completeMethod)="search($event)"
    placeholder="Search For Modules..."
    field="name"
  >
    <ng-template let-group pTemplate="item">
      <div class="flex align-items-center p-4" (click)="onModuleClick(group)">
        <img
          src="assets/images/{{ group.url }}"
          [class]="'mr-2 flag flag-' + group.name"
          style="width: 20px"
        />
        <span>{{ group.name }}</span>
      </div>
    </ng-template>
  </p-autoComplete>

  <span style="float: right;margin-bottom:30px;margin-right:30px;cursor:pointer" class="text-white">
    <p-avatar size="large" image="assets/images/profile.png" shape="circle"	pTooltip="User In."></p-avatar>
  </span>
</header>

<div class="container d-flex">
  <div
    class="card justify-items-center"
    *ngFor="let modules of countries; let mIn = index"
    style="margin: 10px; width: 300px"
    (click)="onModuleClick(modules)"
  >
    <img
      src="assets/images/{{ modules.url }}"
      alt="Avatar"
      style="width: 50%"
    />
    <div
      class="container"
      style="text-align: center; color: black; padding-top: 30px"
    >
      <p>{{ modules.name }}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
